<a href="https://colab.research.google.com/github/leandroavidigal/Exercicios_EBAC/blob/main/Exerc%C3%ADcio_M4_A2_A3_A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercício A02  A A05 - Módulo 4

#### 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

Resolução:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(42)

**np.random.seed(42)** define a semente do gerador de números aleatórios do NumPy para 42. 
Isso garante que os números gerados aleatoriamente serão os mesmos em cada execução do código.

In [ ]:
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

As linhas acima criam sete DataFrames diferentes (df_mat, df_por, df_geo, df_ing, df_his, df_fis e df_qui) que armazenam uma coluna de 100 números inteiros aleatórios cada. A função np.random.randint() é usada para gerar esses números aleatórios e os parâmetros size e columns são usados para definir o tamanho do DataFrame e o nome da coluna, respectivamente. Cada DataFrame representa a quantidade de acertos dos alunos em um determinado assunto.

In [ ]:
# 1) 
pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

# concatenando as colunas 
df_percentual = pd.concat([pc_mat, pc_por, pc_geo, pc_ing, pc_his, pc_fis, pc_qui], axis=1)
df_percentual.columns = ['Matemática (%)', 'Português (%)', 'Geografia (%)', 'Inglês (%)', 'História (%)', 'Física (%)', 'Química (%)']
print(df_percentual)

    Matemática (%)  Português (%)  Geografia (%)  Inglês (%)  História (%)  \
0         0.250000       0.388889          0.875       0.375         0.125
1         0.791667       0.555556          0.000       0.000         0.000
2         0.583333       0.888889          0.000       0.625         0.875
3         0.416667       0.388889          0.375       0.500         0.000
4         0.291667       0.111111          0.250       0.875         0.000
..             ...            ...            ...         ...           ...
95        0.250000       0.222222          0.875       0.125         0.500
96        0.333333       0.055556          0.500       0.750         0.125
97        0.958333       0.277778          0.000       0.250         0.500
98        0.000000       0.555556          0.375       0.125         0.625
99        0.458333       0.833333          0.000       0.125         0.750

    Física (%)  Química (%)
0        1.000        0.375
1        1.375        1.000
2        0.500        0.500
3        0.000        1.000
4        1.125        0.375
..         ...          ...
95       1.125        0.375
96       0.500        0.375
97       0.125        0.625
98       1.250        1.375
99       0.875        0.250

[100 rows x 7 columns]

In [ ]:
# 2) 
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [ ]:
# 3) 
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [ ]:
# 4) 
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

#### 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# 1)
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [ ]:
# concatenando as colunas 
df_percentual = pd.concat([(df_mat['Qt_acertos'] == 0), (df_fis['Qt_acertos'] == 0), (df_qui['Qt_acertos'] == 0)], axis=1)
df_percentual.columns = ['Matemática (%)', 'Física (%)', 'Química (%)']
print(df_percentual)

    Matemática (%)  Física (%)  Química (%)
0            False       False        False
1            False       False        False
2            False       False        False
3            False        True        False
4            False       False        False
..             ...         ...          ...
95           False       False        False
96           False       False        False
97           False       False        False
98            True       False        False
99           False       False        False

[100 rows x 3 columns]

#### 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [90]:
df = pd.read_csv('registros_de_vacinacao_covid_ACRE.csv', sep=';')

In [91]:
print(df.head())

                                 document_id  \
0  b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0
1  a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0
2  af279a98-ba1f-47ea-8214-314a98040b0d-i0b0
3  4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0
4  000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0

                                         paciente_id  paciente_idade  \
0  2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...              69
1  f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...              81
2  6734b26bccf826130ebffa66575977bbe71477b12bcf42...              69
3  84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...              51
4  c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...              65

  paciente_datanascimento paciente_enumsexobiologico  paciente_racacor_codigo  \
0              1951-12-28                          F                        3
1              1939-11-22                          M                        3
2              1951-08-14                          M                        4
3              1969-12-15                          F                        3
4              1955-11-21                          M                        3

  paciente_racacor_valor  paciente_endereco_coibgemunicipio  \
0                  PARDA                           120050.0
1                  PARDA                           120040.0
2                AMARELA                           120020.0
3                  PARDA                           120040.0
4                  PARDA                           120040.0

   paciente_endereco_copais paciente_endereco_nmmunicipio  ...   vacina_lote  \
0                      10.0                SENA MADUREIRA  ...       210052A
1                      10.0                    RIO BRANCO  ...        210110
2                      10.0               CRUZEIRO DO SUL  ...        210135
3                      10.0                    RIO BRANCO  ...     202010040
4                      10.0                    RIO BRANCO  ...  212VCD001ZVB

  vacina_fabricante_nome  vacina_fabricante_referencia vacina_dataaplicacao  \
0      FUNDACAO BUTANTAN   Organization/61189445000156           2021-03-23
1      FUNDACAO BUTANTAN   Organization/61189445000156           2021-04-29
2      FUNDACAO BUTANTAN   Organization/61189445000156           2021-04-16
3      FUNDACAO BUTANTAN   Organization/61189445000156           2021-02-19
4  FUNDACAO OSWALDO CRUZ   Organization/33781055000135           2021-03-29

   vacina_descricao_dose vacina_codigo                          vacina_nome  \
0                1ª Dose            86  Covid-19-Coronavac-Sinovac/Butantan
1                2ª Dose            86  Covid-19-Coronavac-Sinovac/Butantan
2                1ª Dose            86  Covid-19-Coronavac-Sinovac/Butantan
3                2ª Dose            86  Covid-19-Coronavac-Sinovac/Butantan
4                1ª Dose            85         Vacina Covid-19 - Covishield

   sistema_origem      data_importacao_rnds id_sistema_origem
0        Novo PNI  2021-03-25T03:27:19.000Z               NaN
1        Novo PNI  2021-04-30T16:03:14.000Z               NaN
2        Novo PNI  2021-04-16T15:54:39.000Z               NaN
3        Novo PNI  2021-03-10T14:40:54.000Z               NaN
4        Novo PNI  2021-04-03T19:44:28.000Z               NaN

[5 rows x 34 columns]

In [92]:
# 1)
n_vacinas = len(df)
print("Número de vacinas registradas:", n_vacinas)

Número de vacinas registradas: 169071

In [93]:
# 2) 
n_pacientes = df['paciente_id'].nunique()
print("Número de pacientes vacinados:", n_pacientes)

Número de pacientes vacinados: 120517

In [98]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [100]:
# 4) 
df_menos_18 = df[df['paciente_idade'] < 18]
pacientes_menos_18 = df_menos_18['paciente_id'].nunique()
print("Número de pacientes com menos de 18 anos vacinados:", pacientes_menos_18)

Número de pacientes com menos de 18 anos vacinados: 47

In [99]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

47

In [103]:
df_menos_18 = df[df['paciente_idade'] < 18]
pacientes_menos_18 = df_menos_18['paciente_id'].nunique()
print("Número de pacientes com menos de 18 anos vacinados:", pacientes_menos_18)

Número de pacientes com menos de 18 anos vacinados: 47

In [102]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

#### 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [110]:
# 1)
df_menores = df[df['paciente_idade'] < 18]
df_menores_por_estabelecimento = df_menores.groupby('estabelecimento_valor').agg({'vacina_categoria_nome': 'count'}).reset_index()
df_menores_por_estabelecimento = df_menores_por_estabelecimento.rename(columns={'vacina_categoria_nome': 'qtd_vacinas'})
print(df_menores_por_estabelecimento)

    estabelecimento_valor  qtd_vacinas
0                 2000040            2
1                 2001314            1
2                 2001748            8
3                 3323307            1
4                 5336171            1
5                 6159087            3
6                 6308740            2
7                 6428940            3
8                 6430201            4
9                 6612385            2
10                6697151            1
11                6748759            6
12                6917291            4
13                6917682            1
14                6955525            3
15                7123043            1
16                7625855            9
17                9648968            2

In [111]:
# 2) 
df_menores.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [112]:
# 3)
df_menores['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [126]:
# 4)
cols_estabelecimento = ['estabelecimento_valor', 'estabelecimento_municipio_nome', 'estabelecimento_uf']
df_estabelecimentos = df_menores.loc[:, cols_estabelecimento]
print(df_estabelecimentos)

        estabelecimento_valor estabelecimento_municipio_nome  \
1567                  2001314                 EPITACIOLANDIA
6250                  6917291                     RIO BRANCO
9569                  6159087                CRUZEIRO DO SUL
11338                 2000040                          FEIJO
15144                 7625855           MARECHAL THAUMATURGO
17153                 6748759                          FEIJO
18361                 6308740                   PORTO WALTER
18608                 2001748                   PORTO WALTER
20204                 6917682                CRUZEIRO DO SUL
20759                 6917291                     RIO BRANCO
21119                 6428940                   ASSIS BRASIL
27860                 7625855           MARECHAL THAUMATURGO
29127                 6612385                       TARAUACA
31200                 7625855           MARECHAL THAUMATURGO
35654                 6159087                CRUZEIRO DO SUL
38412                 6159087                CRUZEIRO DO SUL
51872                 2000040                          FEIJO
57405                 9648968                  MANOEL URBANO
61131                 6430201                         JORDAO
62742                 6917291                     RIO BRANCO
66922                 7625855           MARECHAL THAUMATURGO
68290                 6955525                    MANCIO LIMA
69882                 5336171                CRUZEIRO DO SUL
70881                 6697151                 SENA MADUREIRA
75368                 6748759                          FEIJO
78289                 6430201                         JORDAO
79146                 2001748                   PORTO WALTER
81424                 6955525                    MANCIO LIMA
84331                 2001748                   PORTO WALTER
88619                 6430201                         JORDAO
89601                 7625855           MARECHAL THAUMATURGO
94858                 2001748                   PORTO WALTER
95916                 7625855           MARECHAL THAUMATURGO
101402                3323307                     PORTO ACRE
104776                2001748                   PORTO WALTER
111242                6430201                         JORDAO
116510                6955525                    MANCIO LIMA
119906                7625855           MARECHAL THAUMATURGO
122656                7625855           MARECHAL THAUMATURGO
123769                6428940                   ASSIS BRASIL
124696                6308740                   PORTO WALTER
135392                2000040                          FEIJO
136851                6748759                          FEIJO
139074                9648968                  MANOEL URBANO
140895                7123043                         JORDAO
142027                6428940                   ASSIS BRASIL
149043                2001748                   PORTO WALTER
149795                6748759                          FEIJO
152218                6748759                          FEIJO
153347                6748759                          FEIJO
155238                7625855           MARECHAL THAUMATURGO
161227                6612385                       TARAUACA
163168                6917291                     RIO BRANCO
164046                2001748                   PORTO WALTER
164449                2001748                   PORTO WALTER

       estabelecimento_uf
1567                   AC
6250                   AC
9569                   AC
11338                  AC
15144                  AC
17153                  AC
18361                  AC
18608                  AC
20204                  AC
20759                  AC
21119                  AC
27860                  AC
29127                  AC
31200                  AC
35654                  AC
38412                  AC
51872                  AC
57405                  AC
61131                  AC
62742                  AC
66922                  AC
68290                  AC
69882                  AC
70881                  AC
75368                  AC
78289                  AC
79146                  AC
81424                  AC
84331                  AC
88619                  AC
89601                  AC
94858                  AC
95916                  AC
101402                 AC
104776                 AC
111242                 AC
116510                 AC
119906                 AC
122656                 AC
123769                 AC
124696                 AC
135392                 AC
136851                 AC
139074                 AC
140895                 AC
142027                 AC
149043                 AC
149795                 AC
152218                 AC
153347                 AC
155238                 AC
161227                 AC
163168                 AC
164046                 AC
164449                 AC

In [121]:
df_estabelecimentos.drop_duplicates(inplace=True)
print(df_estabelecimentos)

        estabelecimento_valor estabelecimento_municipio_nome  \
1567                  2001314                 EPITACIOLANDIA
6250                  6917291                     RIO BRANCO
9569                  6159087                CRUZEIRO DO SUL
11338                 2000040                          FEIJO
15144                 7625855           MARECHAL THAUMATURGO
17153                 6748759                          FEIJO
18361                 6308740                   PORTO WALTER
18608                 2001748                   PORTO WALTER
20204                 6917682                CRUZEIRO DO SUL
21119                 6428940                   ASSIS BRASIL
29127                 6612385                       TARAUACA
57405                 9648968                  MANOEL URBANO
61131                 6430201                         JORDAO
68290                 6955525                    MANCIO LIMA
69882                 5336171                CRUZEIRO DO SUL
70881                 6697151                 SENA MADUREIRA
101402                3323307                     PORTO ACRE
140895                7123043                         JORDAO

       estabelecimento_uf
1567                   AC
6250                   AC
9569                   AC
11338                  AC
15144                  AC
17153                  AC
18361                  AC
18608                  AC
20204                  AC
21119                  AC
29127                  AC
57405                  AC
61131                  AC
68290                  AC
69882                  AC
70881                  AC
101402                 AC
140895                 AC